<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Test_Booling">
        <classes>
            <class name="tests.FirstTest.FirstTest">
                <methods>
                    <include name="CheckingTheCItyInEachCard"/>
                </methods>
            </class>
            <class name="tests.SecondTest.SecondTest">
                <methods>
                    <include name="CheckingFreeCancellationAvailable"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>